kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: local-cluster
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".registry]
    config_path = "/etc/containerd/certs.d"
nodes:
- role: control-plane
  extraMounts:
  - hostPath: ./ca.pem
    containerPath: /etc/ssl/certs/ca.pem
